<div fxLayout="column">
    <div>
        <h1>Search Hero</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Seeker</h3>
        <mat-form-field appearance="fill">
            <mat-label>Hero</mat-label>
            <input 
                type="text"
                placeholder="Example: Spiderman"
                matInput
                [(ngModel)]="term"
                [matAutocomplete]="auto"
                (input)="search()"
            >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="optionSelected( $event )">
                <mat-option *ngFor="let hero of heroes" [value]="hero"> {{hero.superhero}} </mat-option>
                <mat-option value="" *ngIf="heroes.length === 0 && term.trim().length > 0" > 
                    Nothing was found for the term {{ term }} 
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div>
        <pre>{{ heroeSelected  | json  }}</pre>
    </div>
    <div *ngIf="heroeSelected">
        <app-card-hero  
            [all-heroes]="heroeSelected"
        ></app-card-hero>
    </div>
</div>